@import "tailwindcss";

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes SlideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {}
}
@keyframes slideOutDown {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(20px);
        opacity: 0;
    }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.fade-in {
    animation: fadeIn 0.5s ease forwards;
}

.slide-in-right{
    animation:SlideInRight 0.4s ease forwards;
}
.slide-in {
    animation: slideInLeft 0.4s ease forwards;
}

.slide-out {
    animation: slideOutDown 0.4s ease forwards;
}